<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let scopeItem of scopeList; let i = index" (click)="onScopeItemClick(i)">
      {{scopeItem | scopename }}
    </li>
  </ul>
</div>
<div class="col-md-8">
  <router-outlet></router-outlet>
</div>
