<h1>{{id | scopename}}</h1>
<div class="col-md-12">
  <button class="btn btn-primary" (click)="onClickEdit()">Szerkesztés</button>
  <button class="btn btn-info" (click)="onClickBack()">Vissza</button>
  <button class="btn btn-success" (click)="onSave()" [disabled]="!isChanged">Mentés</button>
</div>
<br>
<hr>
<div class="col-md-12">
  <ul class="list-group">
    <div *ngFor="let oppurtinity of oppurtinitiesList; let i = index">
      <li class="list-group-item col-md-10">
        {{oppurtinity.name}}
      </li>
      <div class="col-md-2">
        <button type="button" class="btn btn-danger" (click)="deleteOppurtinity(oppurtinity)">X</button>
      </div>
    </div>
  </ul>
</div>
