<h3>Új foglalkozás felvétele</h3>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="name">Foglalkozás neve:</label>
    <input name="name" type="text" class="form-control" id="name" ngModel required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Felvétel</button>
  <button type="button" class="btn btn-secondary" (click)="onBackClick()">Vissza</button>
</form>
