<form [formGroup]="childForm" (ngSubmit)="onSubmit()">
  <label for="name">Gyermek neve:</label>
  <input id="name" formControlName="name">
  <div class="row">
    <button type="submit" class="btn btn-primary" [disabled]="!childForm.valid">Mentés</button>
    <button type="button" class="btn btn-danger" (click)="onClickBack()">Mégse</button>
  </div>
  <hr>
  <br>
  <div class="form-group">
    <label for="type">Típusa:</label>
    <select id="type" formControlName="type">
      <option *ngFor="let typeItem of types" [value]="typeItem">{{typeItem | childtype}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="birthyear">Születési év:</label>
    <input id="birthyear" formControlName="birthyear">
  </div>
  <div class="form-group">
    <label for="group">Csoport: </label>
    <input id="group" type="text" formControlName="group">
  </div>
  <div class="form-group">
    <label for="group">Megjegyzés: </label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>
  <h3>Válasszd ki a fejlesztendő terület(ek)et!</h3>
  <div *ngFor="let scopeItem of scopeList; let i = index" formGroupName="childScopeList">
    <input type="checkbox" [formControlName]="i" /> {{scopeItem | scopename}}
  </div>
</form>
