<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/" class="navbar-brand">OvodaNyilvantarto</a>
          </li>
          <li routerLinkActive="active">
            <a style="cursor: pointer;" routerLink="/children">Gyerekek</a>
          </li>
          <li routerLinkActive="active">
            <a style="cursor: pointer;" routerLink="/oppurtinities">Fejlesztendő területek</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>
