<h3>Gyermek neve: {{child.name}}</h3>
<div class="row">
  <button class="btn btn-primary" (click)="onClickEdit()">Szerkesztés</button>
  <button class="btn btn-info" (click)="onClickBack()">Vissza</button>
</div>
<hr>
<br>
<span>Típusa: {{child.type | childtype}}</span>
<br>
<span>Születési éve: {{child.birthyear}}</span>
<br>
<span>Csoport: {{child.group}}</span>
<br>
<span>Megjegyzés: {{child.description}}</span>
<br>
<hr>
<h3>A következő területek fejlesztésre szorulnak:</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let scope of child.scopes">{{scope | scopename}}</li>
</ul>
<h3>Ajánlott foglalkozások:</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let oppurtinity of oppurtinities">{{oppurtinity.name}}</li>
</ul>
