<div class="col-md-3">
  <ul class="list-group">
    <div *ngFor="let child of childList; let i = index" [routerLink]="i">
      <li class="list-group-item col-md-10">
        {{child.name}} ( {{child.getAge()}} éves, {{child.group}})
      </li>
    </div>
  </ul>
  <button type="button" class="btn btn-primary" routerLink="new">Új gyermek felvétele</button>
</div>
<div class="col-md-9">
  <router-outlet></router-outlet>
</div>
